.productpage {
width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.summaryimages {
    height: 200px;

}

.checkboxes {
    width: 200px;
    position: absolute;
    left: 50px;
}

.productcontainer {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;

}

.productbox {
    display: flex;
    margin-left: 220px;
    flex-wrap: wrap;
    max-width: 850px;

}

.productdetailscontainer {
    display: flex;
    width: 800px;
    margin:auto;
    margin-top: 10px;
}

.detailimages {
    height: 320px;
    margin-right: 20px;
}