.productpage {
width: 100%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.summaryimages {
    height: 150px;

}

.checkboxes {
    width: 200px;
    position: absolute;
    left: 50px;
}

.productcontainer {
    height: 350px;
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

.productbox {
    display: flex;
    margin-left: 220px;
    flex-wrap: wrap;
    max-width: 850px;

}

.detailsbox {

}

.productdetailscontainer {
    display: flex;
    width: 800px;
margin:auto;



}

.detailimages {
    height: 250px;

}